COMPOSE_PROJECT_NAME=

DOMAIN_NAME=
WP_URL=
WP_TITLE=
WP_QUEEN_USER=
WP_QUEEN_EMAIL=
WP_USER_LOGIN=
WP_USER_EMAIL=

DB_NAME=
DB_USER=
DB_HOST=

WORDPRESS_PATH=

MARIADB_CONTAINER_NAME=
WORDPRESS_CONTAINER_NAME=
NGINX_CONTAINER_NAME=
ADMINER_CONTAINER_NAME=
STATIC_CONTAINER_NAME=

MARIADB_IMAGE=
WORDPRESS_IMAGE=
NGINX_IMAGE=
ADMINER_IMAGE=
STATIC_IMAGE=

DATA_PATH=
SECRETS_PATH=